body {
    background-image: url('https://img.freepik.com/free-vector/blue-data-technology-background-vector-with-binary-code_53876-110871.jpg');
    background-size: cover;
    background-position: center;
  }
  